html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.container-md {
    margin-top: 1em;
}

#map {
    flex: 1;
    background-color: grey;
}
