html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.container-md {
    margin: 1em 0;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

#map {
    flex: 1;
    background-color: grey;
}
